.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
}

.textBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
